<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73242225314-3m6su5j7nadl9qb62d0bmutskqilfcn9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73242225314-3m6su5j7nadl9qb62d0bmutskqilfcn9</string>
	<key>API_KEY</key>
	<string>AIzaSyCRxndI98LHZ9WazzGSsyv7S9n67OHVqCY</string>
	<key>GCM_SENDER_ID</key>
	<string>73242225314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myapi.app.MyApi</string>
	<key>PROJECT_ID</key>
	<string>my-shop-e3197</string>
	<key>STORAGE_BUCKET</key>
	<string>my-shop-e3197.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73242225314:ios:62273ec1706a95993e05fb</string>
</dict>
</plist>